.warna-bg{
	background: linear-gradient(to right, rgba(91,134,229, .92),rgba(54,209,220, .90));
}
.jumbotron-bg{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-size: 300px;
}

#btn-pengajuan {
  background-color: #fff;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: green;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: cyan;
  }
}
